<h1><%= @user.email %></h1>
<p><%= link_to t("user.edit"), edit_user_path(@user) %>
<p><%= link_to t("user.delete"), user_path(@user), :method => :delete, :confirm => "Are you sure?" %>
<p><%= link_to t("user.my_decks"), decks_path %>
