<h1><%= @user.email %></h1>
<p><%= link_to "Edit account", edit_user_path(@user) %>
<p><%= link_to "Delete account", user_path(@user), :method => :delete, :confirm => "Are you sure?" %>
<p><%= link_to "My cards", cards_path %>
