<h1>All Cards</h1>
 
<table>
  <tr>
    <th>Original text</th>
    <th>Translated text</th>
    <th>Review date</th>
  </tr>
 
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= link_to "show this card", card_path(card), method: :show %></td>
    </tr>
  <% end %>
</table>
