<h1>My Decks</h1>
<p>

<table>
  <tr>
    <th>Title</th>
  </tr>
 
  <% current_user.decks.each do |deck| %>
    <tr>
      <td><%= deck.title %></td>
      <td><%= link_to 'Show', deck_path(deck) %></td>
      <td><%= link_to(' make corrent', make_current_deck_path(deck), method: :put) %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to "Add new deck", new_deck_path(current_user.id) %>